# General
.DS_Store
.AppleDouble
.LSOverride

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### ide
/.fleet
/.idea


# www
!www
www/*
!www/.ignore


# env
.env*
!.env.example


# TMP
/conf/nginx/log
/conf/redis/log